/* 顶部的css */
div.heading {
    width: 100%;
    height: 60px;
    background-color: rgb(94, 92, 92);
    font-size: 40px;
    color: white;
    margin: 0px;
}

div.heading ul {
    overflow: hidden;
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

div.heading li {
    float: left;
}

div.heading a {
    text-decoration: none;
    padding-left: 3px;
    line-height: 60px;
    text-align: center;
    border-right: 1px white solid;
    display: block;
    width: auto;
    color: white;
    background-color: rgb(94, 92, 92);
}

div.heading a:hover {
    background-color: black;
}

div.heading a:active {
    background-color: rgb(181, 244, 255);
    color: black;
}

/* 网页主体部分 */
div.bodyit {
    margin: 0px;
    font-size: 60px;
}

/* 底部的css */
div.footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: rgb(94, 92, 92);
    height: 40px;
}

#main_content {
    margin: 15px;
    font-size: 30px;
    height: 500px;
    border: solid #00b99e 1px;
    width: 80%;
    overflow: scroll;
    word-wrap: break-word;
    padding: 10px;
}

button.buttons
{
    font-size:18px;
    font-family: 微软雅黑, Verdana, sans-serif;
    margin:5px;
    width:auto;
    background-color: #4CAF50; /* 更改背景颜色 */
    color: white; /* 更改字体颜色 */
    border:none;/* 移除边框 */
    padding: 5px;/* 增加内边距 */
    text-align: center; /* 文字居中 */
    text-decoration:none; /* 移除下划线 */
    display: inline-block;
    transition-duration: 0.2s; /* 添加过渡效果 */
    cursor:pointer; /* 更改鼠标指针样式 */
    border-radius: 12px; /* 添加圆角 */
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2); /* 添加阴影 */
}

button.buttons:hover {
    background-color: #45a049; /* 鼠标悬停时的背景颜色 */
    color: white; /* 鼠标悬停时的字体颜色 */
}

button.buttons:active {
    background-color: #3e8e41; /* 鼠标点击时的背景颜色 */
    box-shadow: 0 3px #666; /* 鼠标点击时的阴影 */
}

#choose_type,#numbers
{
    font-size:18px;
    font-family: 微软雅黑, Verdana, sans-serif;
    margin:5px;
    width:auto;
    border: solid 1px black;
    padding:5px;
    text-align:center;
    text-decoration:none;
    cursor:auto;
    border-radius: 12px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
}